
<footer *ngIf="isVisible">
    <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Icon 1" class="icon" (click)="openUrl('https://www.instagram.com/f.a_sarii/')">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Github-desktop-logo-symbol.svg/2048px-Github-desktop-logo-symbol.svg.png" alt="Icon 2" class="icon" (click)="openUrl('https://github.com/furkanarslan00')">
    <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" alt="Icon 3" class="icon" (click)="openUrl('https://www.linkedin.com/in/furkan-arslan-894a69268/')">
    <img src="https://cdn-icons-png.flaticon.com/512/1222/1222179.png" alt="Icon 4" class="icon" (click)="openUrl('https://furkanarslan00.github.io/myportfolio/')">
  </div>
    © Prepared by Furkan Arslan
  </footer>
